rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    // Employee uploads and downloads
    // Public READ and WRITE (no auth required)
    match /employees/{allPaths=**} {
      allow read: if true;
      allow write: if true;
    }

    // Default Deny Rule for any other paths.
    // This is a security best practice.
    match /{path=**} {
       allow read, write: if false;
    }
  }
}
